/.vs
/Binary/Debug/
/Server_A/x64/Debug/
/Binary/Debug/Server_A.exe
/Libraries/Libs/mysql/Debug/vs14/mysqlcppconn-static.lib
/Libraries/Libs/mysql/Debug/vs14/mysqlcppconnx-static.lib
/Libraries/Libs/OpenSSL/MD/libcrypto_static.lib
/Libraries/Libs/OpenSSL/MT/libcrypto_static.lib
/Server_A/x64/Debug/Server_A.ilk
/Server_A/x64/Release/Server_A.pch
/Server_A/x64/Debug/Server_A.ilk
*.log
*.tlog
/Server_A/x64/Debug/Server_A.tlog/CL.command.1.tlog
